.footer { 
    &_menu {
        
        width: 560px;
        text-align: right;
        float: left;

        &__item {
            display: inline-block;
            padding-left: 22px;
        }
        &__link {
            color: $colorLight;
            font: 14px/36px $regular;
        }
        &__link:hover {
            text-decoration: none;
            color: $colorOrange;
        }
    }
}
