$heightPadding: 10px;
$widthPadding: 10px;

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
//=====
.product__view-3 {

    .img__big,
    .img__small_list,
    .description__list,
    .rating {
        display: none;
    }   

    .product {

        &__list {
          @include hide-text();
        }
        &__item {
            border: 1px solid $borderColor;
            @include border-radius(5px);
            overflow: hidden;
            padding: $heightPadding $widthPadding;
            box-sizing: border-box;
            width: 100%;
            background: white;
            display: table;
            &:hover {
                box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
                position: relative;
            }
        }
    }
    .inner__product {
        &_list {
            display: table-row;
        }
        &_item {
            display: table-cell;
            vertical-align: middle;
        }
        &_img {
            width: 135px;
        }
        &_about {

        }
        &_price {
            width: 420px; 
        }
    }
 
    //- ===== Артикль продукта
    .artical {
        // margin-top: 15px;
        text-align: center;

        strong {
            font: 12px/20px $bold;
            color: #808b94;    
        }
        span {
            font: 14px/20px $semibold;
            color: #333;  
            margin-left: 5px;
        }
    }
    //========== Описание продукции #1 of 3 ==========
    .about_title {
        width: 285px;
        text-align: left;
        margin: 10px 0;
        padding: 0 10px;
        font: 14px/20px $semibold;
        color: #000;
    }

    //========== PRICE ==========
    .price {
        color: $colorDark;
        display: table-row;
        .cost {
            display: table-cell;
            vertical-align: middle;
            font: 20px/20px $bold;
            color: $colorDark;
            width: 100px;
        }
        button {
            display: table-cell;
            vertical-align: middle;
            font: 14px/20px $bold;
            color: $colorLight;
            width: 103px;
            height: 33px;
            background: $colorOrange;
            outline: none;
            border: none;
            @include border-radius(5px);
        }
        .col-avelibility {
            display: table-cell;
            vertical-align: middle;
            width: 100px;
            .status {
                position: relative;
                font: 12px/20px $bold;
                color: #7f7f7f;
            }
           $dotSize: 7px;
            .status:before {
                content: '';
                position: absolute;
                left: -($dotSize * 2);
                top: (12px / 2);
                width: $dotSize;
                height: $dotSize;
                background: #60ac49;
                @include border-radius(50%);
            }
        }
    }
}