@charset "UTF-8";
@font-face {
  font-family: 'open_sansbold';
  src: url("/fonts/opensans-bold-webfont.eot");
  src: url("/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bold-webfont.woff2") format("woff2"), url("/fonts/opensans-bold-webfont.woff") format("woff"), url("/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("/fonts/opensans-bolditalic-webfont.eot");
  src: url("/fonts/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("/fonts/opensans-bolditalic-webfont.woff") format("woff"), url("/fonts/opensans-bolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("/fonts/opensans-extrabold-webfont.eot");
  src: url("/fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("/fonts/opensans-extrabold-webfont.woff") format("woff"), url("/fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("/fonts/opensans-extrabolditalic-webfont.eot");
  src: url("/fonts/opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("/fonts/opensans-extrabolditalic-webfont.woff") format("woff"), url("/fonts/opensans-extrabolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("/fonts/opensans-italic-webfont.eot");
  src: url("/fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-italic-webfont.woff2") format("woff2"), url("/fonts/opensans-italic-webfont.woff") format("woff"), url("/fonts/opensans-italic-webfont.ttf") format("truetype"), url("/fonts/opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("/fonts/opensans-light-webfont.eot");
  src: url("/fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-light-webfont.woff2") format("woff2"), url("/fonts/opensans-light-webfont.woff") format("woff"), url("/fonts/opensans-light-webfont.ttf") format("truetype"), url("/fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("/fonts/opensans-lightitalic-webfont.eot");
  src: url("/fonts/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("/fonts/opensans-lightitalic-webfont.woff") format("woff"), url("/fonts/opensans-lightitalic-webfont.ttf") format("truetype"), url("/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("/fonts/opensans-regular-webfont.eot");
  src: url("/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-regular-webfont.woff2") format("woff2"), url("/fonts/opensans-regular-webfont.woff") format("woff"), url("/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("/fonts/opensans-semibold-webfont.eot");
  src: url("/fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-semibold-webfont.woff2") format("woff2"), url("/fonts/opensans-semibold-webfont.woff") format("woff"), url("/fonts/opensans-semibold-webfont.ttf") format("truetype"), url("/fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("/fonts/opensans-semibolditalic-webfont.eot");
  src: url("/fonts/opensans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("/fonts/opensans-semibolditalic-webfont.woff") format("woff"), url("/fonts/opensans-semibolditalic-webfont.ttf") format("truetype"), url("/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'als_rublregular';
  src: url("/fonts/rubl/rouble-webfont.eot");
  src: url("/fonts/rubl/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/rubl/rouble-webfont.woff2") format("woff2"), url("/fonts/rubl/rouble-webfont.woff") format("woff"), url("/fonts/rubl/rouble-webfont.ttf") format("truetype"), url("/fonts/rubl/rouble-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.text-hide {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
html, body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  color: #333;
  font: 14px/16px "open_sansregular", Arial, "sans-serif"; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  box-sizing: border-box; }

/********** GRID **********/
div.wrapper {
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  padding-bottom: 20px; }

.wrapper:after {
  content: '';
  display: block;
  height: 370px; }

.inner {
  width: 1100px;
  margin: 0 auto; }

.header__top {
  background: #fff;
  border-bottom: 2px solid #ebedef; }

.social__small {
  float: left;
  padding: 24px 0;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }
  .social__small_item {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px; }
  .social__small_item:first-child {
    margin-left: 0; }
  .social__small_link {
    display: block;
    width: 26px;
    height: 26px;
    background: #333;
    position: relative;
    border-radius: 50%; }
  .social__small_link:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/spritesheet.png); }

.sprite__small_fb:before {
  width: 6px;
  height: 12px;
  background-position: 0px -89px; }

.social__small_fb:hover .sprite__small_fb:before {
  background-position: -11px -89px; }

.sprite__small_vk:before {
  width: 10px;
  height: 12px;
  background-position: -102px -72px; }

.social__small_vk:hover .sprite__small_vk:before {
  background-position: -102px -55px; }

.sprite__small_tw:before {
  width: 16px;
  height: 12px;
  background-position: -102px -17px; }

.social__small_tw:hover .sprite__small_tw:before {
  background-position: -102px 0px; }

.contacts {
  float: right;
  padding: 25px 0; }

.address {
  font-style: normal;
  position: relative;
  display: inline-block;
  font: 14px/24px "open_sansregular", Arial, "sans-serif"; }
  .address:before {
    content: '';
    left: -20px;
    top: 4px;
    position: absolute;
    width: 12px;
    height: 16px;
    background-image: url(/img/spritesheet.png);
    background-position: -102px -34px; }

.phone {
  margin-left: 107px;
  position: relative;
  display: inline-block; }
  .phone:before {
    content: '';
    left: -20px;
    top: 4px;
    position: absolute;
    width: 12px;
    height: 16px;
    background-image: url(/img/spritesheet.png);
    background-position: -42px -26px; }
  .phone__link {
    display: block;
    color: #333;
    text-decoration: none;
    font: 18px/24px "open_sanssemibold", Arial, "sans-serif"; }

.logo_orange {
  display: inline-block;
  float: left;
  padding: 28px 0 27px; }

.search {
  display: inline-block;
  position: relative;
  float: left;
  padding: 29px 0 27px;
  margin-left: 56px; }
  .search__input {
    width: 290px;
    height: 34px;
    padding: 0 17px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ebedef;
    border-radius: 5px 0 0 5px;
    font: 14px/34px "open_sanslight", Arial, "sans-serif";
    color: #7f7f7f; }
  .search__button {
    height: 34px;
    margin-left: -5px;
    padding: 0 15px;
    border: 0;
    outline: none;
    background: #ff6e35;
    font-size: 16px;
    font-family: "open_sanssemibold", Arial, "sans-serif";
    color: #fff;
    border-radius: 0 5px 5px 0; }

.mini_menu {
  float: right;
  margin: 35px 0; }
  .mini_menu__list {
    padding: 0; }
  .mini_menu__item {
    display: inline-block;
    margin-left: 29px; }
  .mini_menu__item:first-child {
    margin-left: 0; }
  .mini_menu__link {
    color: #333;
    font: 16px/25px "open_sanssemibold", Arial, "sans-serif"; }
  .mini_menu__link:hover {
    color: #ff6e35;
    font: 16px/24px "open_sanssemibold", Arial, "sans-serif"; }

.nav {
  background: #fff; }
  .nav__list {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent; }
  .nav__item {
    display: inline-block;
    font: 16px/25px "open_sansregular", Arial, "sans-serif"; }
  .nav__link {
    display: block;
    padding: 14px 16px;
    color: #333;
    text-decoration: none; }
  .nav__link:hover {
    background: #e4e2e2; }
  .nav__active {
    display: block;
    padding: 14px 16px;
    color: #fff;
    background: #ff6e35;
    text-decoration: none; }
  .nav__hover {
    display: block;
    padding: 14px 16px;
    color: #333;
    background: #e4e2e2;
    text-decoration: none; }

.breadcrumbs {
  padding: 27px 0 0; }
  .breadcrumbs__list {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent; }
  .breadcrumbs__item {
    display: inline-block;
    font: 14px/20px "open_sansregular", Arial, "sans-serif"; }
  .breadcrumbs__link {
    color: #333;
    text-decoration: none;
    position: relative;
    padding-right: 15px;
    margin-right: 5px; }
    .breadcrumbs__link:after {
      content: '>';
      right: 0;
      position: absolute; }
    .breadcrumbs__link:hover {
      text-decoration: underline; }
  .breadcrumbs__link_active {
    color: #ff6e35;
    text-decoration: none; }
    .breadcrumbs__link_active:hover {
      text-decoration: underline; }

.page__title {
  font: 20px/20px "open_sansbold", Arial, "sans-serif";
  padding: 24px 0 0; }

.main {
  margin-top: 31px; }
  .main .side-bar {
    float: left;
    width: 334px; }
  .main .main-bar {
    float: left;
    width: 743px;
    margin-left: 23px; }

.picker__list {
  border: 1px solid #ebedef;
  border-radius: 5px;
  overflow: hidden; }

.picker__item {
  background: #fff; }

.picker__item-active, .picker__item:hover {
  background: #d9e5ea; }

.picker__item:hover {
  cursor: pointer; }

.picker__link {
  padding: 15px 30px;
  display: block;
  font: 14px/14px "open_sansregular", Arial, "sans-serif";
  color: #333;
  text-decoration: none; }

.accordion {
  margin-top: 38px; }
  .accordion__list {
    border: 1px solid #ebedef;
    border-radius: 5px;
    overflow: hidden; }
  .accordion__item {
    background: #fff;
    border-top: 1px solid #ebedef; }
  .accordion__item:first-child {
    border-top: none; }
  .accordion__trigger {
    padding: 15px 20px 10px 28px;
    display: block;
    color: #333;
    font: 16px/16px "open_sanssemibold", Arial, "sans-serif";
    text-decoration: none; }
    .accordion__trigger-arrow {
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      float: right;
      width: 18px;
      height: 11px;
      background: url(/img/spritesheet.png) no-repeat 0 -73px; }

.accordion__inner_list {
  display: none; }

.accordion__inner_item {
  padding: 10px 30px; }

.input__checkbox, .input__radio {
  display: none; }

.input__radio-label, .input__checkbox-label {
  position: relative;
  font: 14px/14px "open_sansregular", Arial, "sans-serif";
  color: #333;
  display: block;
  box-sizing: border-box;
  margin-left: 10px; }
  .input__radio-label:hover, .input__checkbox-label:hover {
    cursor: pointer; }
  .input__radio-label:before, .input__checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%); }
  .input__radio-label:after, .input__checkbox-label:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box; }

.input__radio-label {
  padding-left: 20px;
  padding-top: 2px;
  min-height: 19px; }
  .input__radio-label:before {
    width: 19px;
    height: 19px;
    background: #fff;
    border: 3px solid #ebedef;
    border-radius: 50%; }
  .input__radio:checked + .input__radio-label:before {
    border: 3px solid #ff6e35; }
  .input__radio:checked + .input__radio-label:after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 3px solid #ff6e35;
    background: #ff6e35;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%); }

.input__checkbox-label {
  padding-left: 20px;
  padding-top: 2px;
  min-height: 19px; }
  .input__checkbox-label:before {
    width: 19px;
    height: 19px;
    border-radius: 5px;
    background-color: #dee1e4; }
  .input__checkbox:checked + .input__checkbox-label:before {
    background: #ff6e35; }
  .input__checkbox:checked + .input__checkbox-label:after {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(125deg) skew(0, 0) translate(-50%, 0);
    height: 7px;
    width: 9px;
    left: -7px;
    top: 50%; }

.clear-inputs {
  padding: 0 30px 20px 30px; }
  .clear-inputs .link__brend, .clear-inputs .link__os {
    color: #5db2fc; }
    .clear-inputs .link__brend:hover, .clear-inputs .link__os:hover {
      text-decoration: none; }

.price:before, .price:after {
  content: '';
  display: table; }

.price:after {
  clear: both; }

.price__input-from, .price__input-to {
  width: 83px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ebedef;
  border-radius: 5px;
  outline: none;
  font: 14px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #333; }

.price__label-to {
  float: right; }

.color__list {
  margin-top: -22px;
  margin-left: -22px; }

.color__item {
  display: inline-block; }

.color__link, .color__link-active {
  display: block;
  width: 37px;
  height: 37px;
  border: 1px solid #ebedef;
  margin-top: 22px;
  margin-left: 22px; }

.color__link-active {
  border-width: 2.5px;
  border-color: #ff6600;
  border-style: solid;
  border-radius: 2px; }

.color__link:hover, .color__link-active:hover {
  border-width: 1.5px;
  border-color: #ff6600;
  border-style: solid; }

.select {
  margin: 0 0 20px;
  background: #d9e5ea;
  border: 1px solid #ebedef;
  border-radius: 5px; }
  .select:before, .select:after {
    content: '';
    display: table; }
  .select:after {
    clear: both; }
  .select__sort {
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px; }
  .select__view {
    float: right; }

.sort__label {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  font: 14px/20px "open_sansregular", Arial, "sans-serif";
  color: #5d656c; }

.sort__outer {
  float: right;
  margin-left: 10px;
  margin-left: 10px;
  border: 1px solid #ebedef;
  border-radius: 4px;
  overflow: hidden;
  /* Кнопка будет находиться за пределами "обертки" */
  background: #fff;
  width: 140px;
  /* На 20px меньше, чем у select'а. Примерно такова ширина стандартной кнопки */
  position: relative;
  /* Чтобы элементы с position:absolute позиционировались по "обертке" */ }
  .sort__outer select {
    cursor: pointer;
    width: 140px;
    border: none;
    outline: none;
    padding: 2px 10px;
    line-height: 22px;
    position: relative;
    /* Это нужно, чтобы работал z-index */
    background: none;
    /* Через прозрачный фон будет видно кнопку */
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font: 14px/20px "open_sanslight", Arial, "sans-serif";
    color: #7f7f7f; }

.sort__button {
  background: url("/img/arrow-down.png") center center no-repeat;
  height: 24px;
  /* Размеры подготовленной картинки */
  width: 24px;
  position: absolute;
  /* Размещаем объект по правому краю */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  /* И спускаем его на нижний слой - чтобы ссылка */ }

.view__label {
  float: left;
  margin-top: 16px;
  font: 14px/20px "open_sansregular", Arial, "sans-serif";
  color: #5d656c; }

.view__list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  display: inline-block;
  vertical-align: middel;
  float: right;
  margin-left: 14px; }

.view__item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 52px;
  height: 52px;
  border-left: 1px solid #ebedef; }

.view__link:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/img/spritesheet.png"); }

.view__1:before {
  background-position: -60px -21px; }

.view__2:before {
  background-position: -42px -52px; }

.view__3:before {
  background-position: 0px -52px; }

.view__item_1:hover .view__1:before {
  background-position: -60px 0px; }

.view__item_2:hover .view__2:before {
  background-position: -81px 0px; }

.view__item_3:hover .view__3:before {
  background-position: -21px -52px; }

.view__active-1:before {
  background-position: -60px 0px; }

.view__active-1:before {
  background-position: -60px 0px; }

.view__active-2:before {
  background-position: -81px 0px; }

.view__active-3:before {
  background-position: -21px -52px; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.product__view-1 .product__list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  box-sizing: border-box; }

.product__view-1 .product__item {
  width: 100%;
  display: table;
  background: white;
  border: 1px solid #ebedef;
  padding: 15px 20px; }
  .product__view-1 .product__item:not(:first-child) {
    border-top: 0; }
  .product__view-1 .product__item:first-child {
    border-radius: 5px 5px 0 0;
    overflow: hidden; }
  .product__view-1 .product__item:last-child {
    border-radius: 0 0 5px 5px;
    overflow: hidden; }
  .product__view-1 .product__item:hover {
    box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
    position: relative; }

.product__view-1 .inner__product_list {
  display: table-row; }

.product__view-1 .inner__product_item {
  display: table-cell;
  vertical-align: top; }

.product__view-1 .inner__product_img {
  width: 140px;
  vertical-align: middle; }

.product__view-1 .inner__product_about {
  padding: 0 25px; }

.product__view-1 .inner__product_price {
  width: 150px;
  border-left: 1px solid #ebedef;
  position: relative; }

.product__view-1 .img__big {
  max-width: 136px;
  height: 136px;
  border: 1px solid #ebedef;
  background: white;
  margin: 0 auto; }

.product__view-1 .img__small_list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 136px;
  margin: 20px auto 0; }

.product__view-1 .img__small_item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ebedef;
  width: 34px;
  height: 34px;
  margin-left: 17px; }
  .product__view-1 .img__small_item:first-child {
    margin-left: 0; }
  .product__view-1 .img__small_item:hover {
    border-color: #ff6e35;
    cursor: pointer; }

.product__view-1 .img__big, .product__view-1 .img__small_item {
  position: relative; }
  .product__view-1 .img__big img, .product__view-1 .img__small_item img {
    max-width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }

.product__view-1 .artical {
  margin-top: 4px;
  text-align: center; }
  .product__view-1 .artical strong {
    font: 12px/20px "open_sansbold", Arial, "sans-serif";
    color: #808b94; }
  .product__view-1 .artical span {
    font: 14px/20px "open_sanssemibold", Arial, "sans-serif";
    color: #333;
    margin-left: 10px; }

.product__view-1 .about_title {
  text-align: left;
  margin: 10px 0 17px;
  font: 16px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #000; }

.product__view-1 .description-2 {
  display: none; }

.product__view-1 .description__item {
  padding: 2px 0;
  font: 14px/20px "open_sansregular", Arial, "sans-serif";
  color: #333; }
  .product__view-1 .description__item strong {
    font-style: normal; }
  .product__view-1 .description__item span {
    float: right; }

.product__view-1 .grey {
  background: #ebedef; }

.product__view-1 .white {
  background: #fff; }

.product__view-1 .rating {
  margin: 10px 0 0;
  display: table; }
  .product__view-1 .rating:before, .product__view-1 .rating:after {
    content: '';
    display: table; }
  .product__view-1 .rating:after {
    clear: both; }
  .product__view-1 .rating__list {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    float: left;
    margin-top: 1px; }
  .product__view-1 .rating__item {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 15px;
    margin-left: 2px; }
    .product__view-1 .rating__item:first-child {
      margin-left: 0; }
  .product__view-1 .rating__star-red {
    background: url("/img/stars-s194e70acee.png") no-repeat 0 0; }
  .product__view-1 .rating__star-grey {
    background: url("/img/stars-s194e70acee.png") no-repeat -2px -16px; }
  .product__view-1 .rating__result {
    float: right;
    width: 32px;
    margin-left: 10px;
    padding: 2px 12px;
    color: #fff;
    background: #b5beca;
    box-sizing: border-box;
    font: 12px/15px "open_sanssemibold", Arial, "sans-serif";
    border-radius: 10px; }

.product__view-1 .price .cost {
  position: absolute;
  font: 20px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #333;
  top: 7px;
  right: 0; }
  .product__view-1 .price .cost .rubl {
    font-family: "als_rublregular", Arial, "sans-serif";
    margin-left: 5px; }

.product__view-1 .price button {
  position: absolute;
  bottom: 28px;
  right: 5px;
  font: 14px/20px "open_sansbold", Arial, "sans-serif";
  color: #fff;
  width: 103px;
  height: 33px;
  background: #ff6e35;
  outline: none;
  border: none;
  border-radius: 5px; }

.product__view-1 .price .col-avelibility {
  position: absolute;
  bottom: 3px;
  right: 5px; }
  .product__view-1 .price .col-avelibility .status {
    position: relative;
    font: 12px/20px "open_sansbold", Arial, "sans-serif";
    color: #7f7f7f; }
  .product__view-1 .price .col-avelibility .status:before {
    content: '';
    position: absolute;
    left: -14px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #60ac49;
    border-radius: 50%; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.product__view-2 .artical {
  display: none; }

.product__view-2 .product__list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  margin-top: -20px;
  margin-left: -20px; }

.product__view-2 .product__item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ebedef;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 234.33333px;
  margin-top: 20px;
  margin-left: 20px;
  background: white; }
  .product__view-2 .product__item:hover {
    box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
    position: relative; }

.product__view-2 .img__big {
  max-width: 136px;
  height: 136px;
  border: 1px solid #ebedef;
  background: white;
  margin: 0 auto; }

.product__view-2 .img__small_list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 136px;
  margin: 20px auto 0; }

.product__view-2 .img__small_item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ebedef;
  width: 34px;
  height: 34px;
  margin-left: 17px; }
  .product__view-2 .img__small_item:first-child {
    margin-left: 0; }
  .product__view-2 .img__small_item:hover {
    border-color: #ff6e35;
    cursor: pointer; }

.product__view-2 .img__big, .product__view-2 .img__small_item {
  position: relative; }
  .product__view-2 .img__big img, .product__view-2 .img__small_item img {
    max-width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }

.product__view-2 .artical {
  margin-top: 15px;
  text-align: center; }
  .product__view-2 .artical strong {
    font: 12px/20px "open_sansbold", Arial, "sans-serif";
    color: #808b94; }
  .product__view-2 .artical span {
    font: 14px/20px "open_sanssemibold", Arial, "sans-serif";
    color: #333;
    margin-left: 10px; }

.product__view-2 .about_title {
  text-align: center;
  margin: 10px 0;
  font: 16px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #000; }

.product__view-2 .description-1 {
  display: none; }

.product__view-2 .description__item {
  padding: 2px 0;
  font: 14px/20px "open_sansregular", Arial, "sans-serif";
  color: #333; }
  .product__view-2 .description__item strong {
    font-style: normal; }
  .product__view-2 .description__item span {
    float: right; }

.product__view-2 .grey {
  background: #ebedef; }

.product__view-2 .white {
  background: #fff; }

.product__view-2 .rating {
  margin: 10px auto 0;
  display: table; }
  .product__view-2 .rating:before, .product__view-2 .rating:after {
    content: '';
    display: table; }
  .product__view-2 .rating:after {
    clear: both; }
  .product__view-2 .rating__list {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    float: left;
    margin-top: 1px; }
  .product__view-2 .rating__item {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 15px; }
  .product__view-2 .rating__star-red {
    background: url("/img/stars-s194e70acee.png") no-repeat 0 0; }
  .product__view-2 .rating__star-grey {
    background: url("/img/stars-s194e70acee.png") no-repeat -2px -16px; }
  .product__view-2 .rating__result {
    float: right;
    width: 32px;
    margin-left: 10px;
    padding: 2px 12px;
    color: #fff;
    background: #b5beca;
    box-sizing: border-box;
    font: 12px/15px "open_sanssemibold", Arial, "sans-serif";
    border-radius: 10px; }

.product__view-2 .price .cost {
  font: 20px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #333;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  .product__view-2 .price .cost .rubl {
    font-family: "als_rublregular", Arial, "sans-serif";
    margin-left: 5px; }

.product__view-2 .price button {
  font: 14px/20px "open_sansbold", Arial, "sans-serif";
  color: #fff;
  width: 103px;
  height: 33px;
  background: #ff6e35;
  outline: none;
  border: none;
  border-radius: 5px;
  float: right; }

.product__view-2 .price .col-avelibility {
  float: left;
  padding-left: 10px; }
  .product__view-2 .price .col-avelibility .status {
    position: relative;
    font: 12px/20px "open_sansbold", Arial, "sans-serif";
    color: #7f7f7f;
    padding-top: 6.5px; }
  .product__view-2 .price .col-avelibility .status:before {
    content: '';
    position: absolute;
    left: -14px;
    top: 13px;
    width: 7px;
    height: 7px;
    background: #60ac49;
    border-radius: 50%; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.product__view-3 .img__big,
.product__view-3 .img__small_list,
.product__view-3 .description__list,
.product__view-3 .rating {
  display: none; }

.product__view-3 .product__list {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  box-sizing: border-box; }

.product__view-3 .product__item {
  width: 100%;
  display: table;
  background: white;
  border: 1px solid #ebedef;
  padding: 10px 10px; }
  .product__view-3 .product__item:not(:first-child) {
    border-top: 0; }
  .product__view-3 .product__item:first-child {
    border-radius: 5px 5px 0 0;
    overflow: hidden; }
  .product__view-3 .product__item:last-child {
    border-radius: 0 0 5px 5px;
    overflow: hidden; }
  .product__view-3 .product__item:hover {
    box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
    position: relative; }

.product__view-3 .inner__product_list {
  display: table-row; }

.product__view-3 .inner__product_item {
  display: table-cell;
  vertical-align: middle; }

.product__view-3 .inner__product_img {
  width: 135px; }

.product__view-3 .inner__product_price {
  width: 420px; }

.product__view-3 .artical {
  text-align: center; }
  .product__view-3 .artical strong {
    font: 12px/20px "open_sansbold", Arial, "sans-serif";
    color: #808b94; }
  .product__view-3 .artical span {
    font: 14px/20px "open_sanssemibold", Arial, "sans-serif";
    color: #333;
    margin-left: 5px; }

.product__view-3 .about_title {
  width: 255px;
  text-align: left;
  margin: 10px 0;
  padding: 0 10px;
  font: 14px/20px "open_sanssemibold", Arial, "sans-serif";
  color: #000; }

.product__view-3 .price {
  color: #333;
  display: table-row; }
  .product__view-3 .price .cost {
    width: 130px;
    display: table-cell;
    vertical-align: middle;
    font: 20px/20px "open_sanssemibold", Arial, "sans-serif";
    text-align: right;
    color: #333; }
    .product__view-3 .price .cost .rubl {
      font-family: "als_rublregular", Arial, "sans-serif";
      margin-left: 5px; }
  .product__view-3 .price button {
    display: table-cell;
    vertical-align: middle;
    font: 14px/20px "open_sansbold", Arial, "sans-serif";
    color: #fff;
    width: 103px;
    height: 33px;
    background: #ff6e35;
    outline: none;
    border: none;
    border-radius: 5px; }
  .product__view-3 .price .col-avelibility {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    padding-left: 20px; }
    .product__view-3 .price .col-avelibility .status {
      position: relative;
      font: 12px/20px "open_sansbold", Arial, "sans-serif";
      color: #7f7f7f; }
    .product__view-3 .price .col-avelibility .status:before {
      content: '';
      position: absolute;
      left: -14px;
      top: 6px;
      width: 7px;
      height: 7px;
      background: #60ac49;
      border-radius: 50%; }

.pages {
  margin-top: 65px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  float: right; }
  .pages__backward, .pages__forward, .pages__loop, .pages__active {
    display: inline-block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    font: 12px/25px "open_sansbold", Arial, "sans-serif";
    color: #7f7f7f;
    cursor: pointer;
    text-align: center; }
    .pages__backward:first-child, .pages__forward:first-child, .pages__loop:first-child, .pages__active:first-child {
      margin-left: 0; }
    .pages__backward:hover, .pages__forward:hover, .pages__loop:hover, .pages__active:hover {
      background: #e0e0e0; }
  .pages__active {
    background: #e0e0e0; }

.columnizer p {
  text-indent: 35px;
  font: 14px/20px "open_sansregular", Arial, "sans-serif"; }

.columnizer .column {
  text-align: justify; }
  .columnizer .column.first {
    float: left;
    padding-right: 20px; }
  .columnizer .column.last {
    float: right;
    padding-left: 20px; }

.footer {
  position: absolute;
  min-width: 1100px;
  width: 100%;
  height: 370px;
  margin-top: -370px;
  background: url(/img/footer_bg.png) top left; }

.footer__aside {
  display: inline-block;
  float: left; }

.footer__bside {
  display: inline-block;
  float: right; }

.footer_menu {
  width: 560px;
  text-align: right;
  float: left; }
  .footer_menu__item {
    display: inline-block;
    padding-left: 22px; }
  .footer_menu__link {
    color: #fff;
    font: 14px/36px "open_sansregular", Arial, "sans-serif"; }
  .footer_menu__link:hover {
    text-decoration: none;
    color: #ff6e35; }

div.logo_white {
  display: inline-block;
  padding: 70px 0 0 7px; }

.social__big {
  padding: 34px 0 23px;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 100%; }
  .social__big_list {
    float: right; }
  .social__big_item {
    display: inline-block;
    vertical-align: top;
    margin-left: 26px; }
  .social__big_item:first-child {
    margin-left: 0; }
  .social__big_link {
    display: block;
    width: 43px;
    height: 43px;
    background: #fff;
    position: relative;
    border-radius: 50%; }
  .social__big_link:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/spritesheet.png); }

.sprite__big_fb:before {
  width: 11px;
  height: 21px;
  background-position: -81px -21px; }

.social__big_fb:hover .sprite__big_fb:before {
  background-position: -81px -47px; }

.sprite__big_vk:before {
  width: 16px;
  height: 21px;
  background-position: 0px -26px; }

.social__big_vk:hover .sprite__big_vk:before {
  background-position: -21px -26px; }

.sprite__big_tw:before {
  width: 25px;
  height: 21px;
  background-position: -30px 0px; }

.social__big_tw:hover .sprite__big_tw:before {
  background-position: 0px 0px; }

.copyright {
  padding: 16px 0;
  color: #fff;
  font: 12px/36px "open_sansregular", Arial, "sans-serif";
  text-align: center; }

/*# sourceMappingURL=maps/global.css.map */
