
- var m__social_big = ['facebook', 'vkontakte', 'twitter'];
- var m__social = ['facebook', 'vkontakte', 'twitter'];
<!DOCTYPE html>
html
    head(lang="ru-RU")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- SEO
        meta(name="discription" content="")
        meta(name="keywords" content="")
        meta(name="auther" content="Baglaridis Stelios")
        //- CSS
        link(rel="stylesheet", href="/bower/normalize-css/normalize.css")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/jquery-ui.css")
        //- Заголовок сайта
        block title
    body
        div.wrapper
            include __header/_header
            include __nav/_nav
            include __breadcrumbs/_breadcrumbs
            div.inner
                div.page__title Мобильные телефоны
            div.main
                div.inner.clearfix
                    aside.side-bar
                        include __sidebar/_sidebar
                    section.main-bar
                        //- block main-bar
                        include __selector/_selector
                        include __content/_content
            div.inner
                div.page__title Важная информация
            div.inner
                include __columnizer/_columnizer

        footer.footer
            div.inner
                include __footer/_footer

        //- JS
        script(src="./bower/jquery/jquery.js")
        script(src="./bower/jquery-ui/jquery-ui.js")
        script(src="./js/accordion.js")
        script(src="./js/slider.js")
        script(src="./js/checkbox_clean.js")
        script(src="./js/rating.js")
        script(src="./js/jquery.columnizer.js")
        script(src="./js/imgChanger.js")
        script(src="./js/main.js")