- var footer_menu = ['Планшеты','Мобильные телефоны','Mp3 плееры','Персональные компьютеры','Ноутбуки','Аксессуары','Бытовая техника'];
- var m__social_big = ['facebook', 'vkontakte', 'twitter'];
- var m__social = ['facebook', 'vkontakte', 'twitter'];
<!DOCTYPE html>
html
    head(lang="ru-RU")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- SEO
        meta(name="discription" content="")
        meta(name="keywords" content="")
        meta(name="auther" content="Baglaridis Stelios")
        //- CSS
        link(rel="stylesheet", href="/bower/normalize-css/normalize.css")
        link(rel="stylesheet", href="/css/global.css")
        //- Заголовок сайта
        block title
    body
        div.wrapper
            include __header/_header
            include __nav/_nav
            include __breadcrumbs/_breadcrumbs
            div.main
                div.inner.clearfix
                    div.page__title Мобильные телефоны
                    aside.side-bar
                        include __sidebar/_sidebar
                    section.main-bar
                        //- block main-bar
                        include __selector/_selector
                        include __content/_content
        footer.footer
            div.inner
                .div.clearfix
                    .footer__aside
                        include __logo_white/_logo_white
                    .footer__bside 
                        include __social_big/_social_big
                        nav.footer__menu
                            ul.footer__menu-list
                                each item in footer_menu
                                    li.footer__menu_item
                                        a(href="#").footer__menu_link= item
                
                .copyright All rights reserved. 2015. no copy alowed

        //- JS
        script(src="./bower/jquery/jquery.js")
        script(src="./js/accordion.js")
        script(src="./js/rating.js")