div.header__top 
    div.inner.clearfix
        include __social_small/_social_small
        include __contacts/_contacts
div.header__bottom 
    div.inner.clearfix
        include __logo_orange/_logo_orange
        include __mini_menu/_mini_menu