.nav {
    background: $colorLight;

    &__list {
        font: 0/0 serif;
        text-shadow: none;
        color: transparent;
    }
    &__item {
        display: inline-block;
        font: 16px/25px $regular;
    }
    &__link {
        display: block;
        padding: 14px 14px;
        color: $colorDark;
        text-decoration: none;
    }
    &__link:hover {
        background: $navHover;
    }
    &__active {
        display: block;
        padding: 14px 14px;
        color: $colorLight;
        background: $colorOrange;
        text-decoration: none;
    }
    &__hover {
        display: block;
        padding: 14px 14px;
        background: $navHover;
        text-decoration: none;
    }
}