.div.clearfix
    .footer__aside
        include __logo_white/_logo_white
    .footer__bside 
        include __social_big/_social_big
        include __footer_menu/_footer_menu

include __copyright/_copyright