.select {
	margin: 0 0 20px;
	padding: 10px;
	background: $colorLightBlue;
	border: 1px solid $borderColor;
	border-radius: 10px;

	&__sort {
		display: inline-block;
	}
	&__view {
		float: right;
	}
}
.view {
	&__label {
		display: inline-block;
		float: left;
	}
	&__list {
		display: inline-block;
	    font: 0/0 serif;
	    text-shadow: none;
	    color: transparent;
	}
	&__item {
      display: inline-block;
      position: relative;
      width: 26px;
      height: 26px;
      // padding-left: 20px;
	}
	&__link:before {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      background-image: url('/img/spritesheet.png');
	}
	&__1:before {
      background-position: -60px -21px;
	}
	&__2:before {
      background-position: -42px -52px,
	}	
	&__3:before {
      background-position: 0px -52px,
	}
	&__item_1:hover &__1:before {
		background-position: -60px 0px;
	}	
	&__item_2:hover &__2:before {
		background-position: -81px 0px;
	}
	&__item_3:hover &__3:before {
		background-position: -21px -52px;
	}
	&__active-1:before {
		background-position: -60px 0px;
	}

	&__active-1:before {
		background-position: -60px 0px;
	}	
	&__active-2:before {
		background-position: -81px 0px;
	}
	&__active-3:before {
		background-position: -21px -52px;
	}
}