div.select.clearfix
	div.select__sort
		label Сортировать по
		select(name="sort")
			option(value="price") select 1
			option(value="value") select 2

	div.select__view.clearfix
		div.view__label Вид каталога
		ul.view__list
			li.view__item.view__item_1
				a(href="#1").view__link.view__1.view__active-1 1
			li.view__item.view__item_2
				a(href="#2").view__link.view__2 2
			li.view__item.view__item_3
				a(href="#3").view__link.view__3 3