div.select.clearfix
	div.select__sort
		label Сортировать по
		select(name="sort")
			option(value="price") select 1
			option(value="value") select 2

	div.select__view.clearfix
		label.view__label Вид каталога
		ul.view__list
			li.view__item.view__1 1
			li.view__item.view__2 2
			li.view__item.view__3 3