.select {
	margin: 0 0 20px;
	// padding: 10px;
	background: $colorLightBlue;
	border: 1px solid $borderColor;
	@include border-radius(5px);
	@include clearfix();

	&__sort {
		float: left;
		@include inline-block(middle);
		margin-top: 10px;
		margin-left: 20px;
	}
	&__view {
		float: right;
		// @include inline-block(middle);
	}
}
.sort{
	&__label {
		float: left;
		margin-top: 3px;
		margin-left: 3px;
		font: 14px/20px $regular;
		color: #5d656c;
	}
	&__outer {
		float: right;
		margin-left: 10px;
		margin-left: 10px;
		border: 1px solid $borderColor;
		@include border-radius(4px);
		overflow: hidden;		/* Кнопка будет находиться за пределами "обертки" */
		background: #fff;
		width: 140px;		/* На 20px меньше, чем у select'а. Примерно такова ширина стандартной кнопки */
		// display: inline-block;
		position: relative;		/* Чтобы элементы с position:absolute позиционировались по "обертке" */
		
		select {
			cursor: pointer;
			width: 140px;
			border: none;
		    outline: none;
			// height: 22px;
			padding: 2px 10px;
			line-height: 22px;
			position: relative;		/* Это нужно, чтобы работал z-index */
			background: none;		/* Через прозрачный фон будет видно кнопку */
			z-index: 100;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    border: none;
		    font: 14px/20px $light;
		    color: #7f7f7f;
		}	
	}
	&__button {
		background: url('/img/arrow-down.png') center center no-repeat;
		height: 24px;		/* Размеры подготовленной картинки */
		width: 24px;
		position: absolute;		/* Размещаем объект по правому краю */
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 50;		/* И спускаем его на нижний слой - чтобы ссылка */
	}
}
.view {
	&__label {
		// @include inline-block(middle);
		float: left;
		margin-top: 16px;
		font: 14px/20px $regular;
		color: #5d656c;
	}
	&__list {
		@include hide-text();
		@include inline-block(middel);
		float: right;
		margin-left: 14px;
	}
	&__item {
      @include inline-block(middle);
      position: relative;
      width: 52px;
      height: 52px;
      border-left: 1px solid $borderColor;
	}
	&__link:before {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: url('/img/spritesheet.png');
	}
	&__1:before {
      background-position: -60px -21px;
	}
	&__2:before {
      background-position: -42px -52px,
	}	
	&__3:before {
      background-position: 0px -52px,
	}
	&__item_1:hover &__1:before {
		background-position: -60px 0px;
	}	
	&__item_2:hover &__2:before {
		background-position: -81px 0px;
	}
	&__item_3:hover &__3:before {
		background-position: -21px -52px;
	}
	&__active-1:before {
		background-position: -60px 0px;
	}

	&__active-1:before {
		background-position: -60px 0px;
	}	
	&__active-2:before {
		background-position: -81px 0px;
	}
	&__active-3:before {
		background-position: -21px -52px;
	}
}