div.select.clearfix
	div.select__sort
		div.sort__label Сортировать по
		div.sort__outer
			select(name="sort" id="sort").sort__select
				option(value="price" selected) по цена
				option(value="price2") Цена 2
				option(value="price3") Цена 3
			a(href="#").sort__button

	div.select__view
		div.view__label Вид каталога
		ul.view__list
			li.view__item.view__item_1
				a(href="#1").view__link.view__1.view__active-1 1
			li.view__item.view__item_2
				a(href="#2").view__link.view__2 2
			li.view__item.view__item_3
				a(href="#3").view__link.view__3 3