// === Social menu
.social__big {
    padding: 34px 0 23px;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    width: 100%;

    &_list {
       float: right;
    }
    &_item {
        display: inline-block;
        vertical-align: top;
        margin-left: 26px;
    }
    &_item:first-child {
        margin-left: 0;
    }
    &_link {
        display: block;    
        width: $socialWidthBig;
        height: $socialWidthBig;
        background: $colorLight;
        position: relative;
        @include border-radius(50%);
    }
    &_link:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url(/img/spritesheet.png);
    }
}

$fb: nth($big_fb, 10);

.sprite__#{$fb}:before {
    width: nth($big_fb, 5);
    height: nth($big_fb, 6);
    $sprite-offset-x: nth($big_fb, 3);
    $sprite-offset-y: nth($big_fb, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}
.social__#{$fb}:hover .sprite__#{$fb}:before {
    $sprite-offset-x: nth($big_fb-hover, 3);
    $sprite-offset-y: nth($big_fb-hover, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}

$vk: nth($big_vk, 10);

.sprite__#{$vk}:before {
    width: nth($big_vk, 5);
    height: nth($big_vk, 6);
    $sprite-offset-x: nth($big_vk, 3);
    $sprite-offset-y: nth($big_vk, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}
.social__#{$vk}:hover .sprite__#{$vk}:before {
    $sprite-offset-x: nth($big_vk-hover, 3);
    $sprite-offset-y: nth($big_vk-hover, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}

$tw: nth($big_tw, 10);

.sprite__#{$tw}:before {
    width: nth($big_tw, 5);
    height: nth($big_tw, 6);
    $sprite-offset-x: nth($big_tw, 3);
    $sprite-offset-y: nth($big_tw, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}
.social__#{$tw}:hover .sprite__#{$tw}:before {
    $sprite-offset-x: nth($big_tw-hover, 3);
    $sprite-offset-y: nth($big_tw-hover, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}
