.breadcrumbs{
	padding: 27px 0 0;	

	&__list{
	    font: 0/0 serif;
	    text-shadow: none;
	    color: transparent;
	} 
	&__item {
		display: inline-block;
		font: 14px/20px $regular;
	}
	&__link {
		color: $colorDark;
		text-decoration: none;
		position: relative;
		padding-right: 15px;
		margin-right: 5px;

		&:after {
			content: '>';
			right: 0;
			position: absolute;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__link_active {
		color: $colorOrange;
		text-decoration: none;
	
		&:hover {
			text-decoration: underline;
		}
	}
}
