@import 'scss/_fonts';
@import 'scss/_varibals';
@import 'scss/_css_tricks';
@import 'scss/_mixin';
@import 'scss/_spritesheet';
html, body {
    width: 100%;
    height: 100%;
    background: $siteBg;
    color: $siteColor;
    font: $siteFont;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    box-sizing: border-box;
}
/********** GRID **********/
div.wrapper {
    height: auto;
    min-height: 100%;
    min-width: $innerWidth;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}
.wrapper:after{
    content: '';
    display: block;
    height: $footerHeight;
}
.inner {
    width: $innerWidth;
    margin: 0 auto;
}

@import 'template/__header/_header';
@import 'template/__nav/_nav';
@import 'template/__breadcrumbs/_breadcrumbs';

.page__title {
    font: 20px/20px $bold;
    padding: 24px 0 0;
}
.main {
    margin-top: 31px;
    .side-bar {
        //- боковая часть сайта
        float: left;
        width: $sideBarWidth;
    }
    .main-bar {
        //- основная част сайта
        float: left;
        width: ($innerWidth - $sideBarWidth - $paddingBetweenBlogs);
        margin-left: $paddingBetweenBlogs;
        // background: #ccc;
    }
}
@import 'template/__sidebar/_sidebar';
@import 'template/__selector/_selector';
@import 'template/__content/_content';
@import 'template/__columnizer/_columnizer';
.footer { 
    position: absolute;
    min-width: $innerWidth;
    width: 100%;
    height: $footerHeight;
    margin-top: -$footerHeight;
    background: url(/img/footer_bg.png) top left;
}
@import 'template/__footer/_footer';
