$arrow-small: (34px, 73px, -34px, -73px, 6px, 9px, 118px, 101px, 'spritesheet.png', 'arrow-small', );
$arrow1: (23px, 73px, -23px, -73px, 6px, 9px, 118px, 101px, 'spritesheet.png', 'arrow1', );
$available-status: (45px, 73px, -45px, -73px, 7px, 7px, 118px, 101px, 'spritesheet.png', 'available-status', );
$big-fb-hover: (81px, 47px, -81px, -47px, 11px, 21px, 118px, 101px, 'spritesheet.png', 'big_fb-hover', );
$big-fb: (81px, 21px, -81px, -21px, 11px, 21px, 118px, 101px, 'spritesheet.png', 'big_fb', );
$big-tw-hover: (0px, 0px, 0px, 0px, 25px, 21px, 118px, 101px, 'spritesheet.png', 'big_tw-hover', );
$big-tw: (30px, 0px, -30px, 0px, 25px, 21px, 118px, 101px, 'spritesheet.png', 'big_tw', );
$map-pin: (102px, 34px, -102px, -34px, 12px, 16px, 118px, 101px, 'spritesheet.png', 'map-pin', );
$slider: (63px, 52px, -63px, -52px, 8px, 14px, 118px, 101px, 'spritesheet.png', 'slider', );
$small-fb: (0px, 89px, 0px, -89px, 6px, 12px, 118px, 101px, 'spritesheet.png', 'small_fb', );
$small-fb-hover: (11px, 89px, -11px, -89px, 6px, 12px, 118px, 101px, 'spritesheet.png', 'small_fb-hover', );
$small-tw: (102px, 17px, -102px, -17px, 16px, 12px, 118px, 101px, 'spritesheet.png', 'small_tw', );
$small-tw-hover: (102px, 0px, -102px, 0px, 16px, 12px, 118px, 101px, 'spritesheet.png', 'small_tw-hover', );
$small-vk: (102px, 72px, -102px, -72px, 10px, 12px, 118px, 101px, 'spritesheet.png', 'small_vk', );
$small-vk-hover: (102px, 55px, -102px, -55px, 10px, 12px, 118px, 101px, 'spritesheet.png', 'small_vk-hover', );
$big-vk: (0px, 26px, 0px, -26px, 16px, 21px, 118px, 101px, 'spritesheet.png', 'big_vk', );
$big-vk-hover: (21px, 26px, -21px, -26px, 16px, 21px, 118px, 101px, 'spritesheet.png', 'big_vk-hover', );
$telephone: (42px, 26px, -42px, -26px, 12px, 16px, 118px, 101px, 'spritesheet.png', 'telephone', );
$arrow: (0px, 73px, 0px, -73px, 18px, 11px, 118px, 101px, 'spritesheet.png', 'arrow', );
$view-list-1: (60px, 21px, -60px, -21px, 16px, 16px, 118px, 101px, 'spritesheet.png', 'view-list-1', );
$view-list-1-hover: (60px, 0px, -60px, 0px, 16px, 16px, 118px, 101px, 'spritesheet.png', '-view-list-1-hover', );
$view-list-2: (42px, 52px, -42px, -52px, 16px, 16px, 118px, 101px, 'spritesheet.png', 'view-list-2', );
$view-list-2-hover: (81px, 0px, -81px, 0px, 16px, 16px, 118px, 101px, 'spritesheet.png', 'view-list-2-hover', );
$view-list-3: (0px, 52px, 0px, -52px, 16px, 16px, 118px, 101px, 'spritesheet.png', 'view-list-3', );
$view-list-3-hover: (21px, 52px, -21px, -52px, 16px, 16px, 118px, 101px, 'spritesheet.png', 'view-list-3-hover', );
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$view-list-1-hover-name: '-view-list-1-hover';
$view-list-1-hover-x: 60px;
$view-list-1-hover-y: 0px;
$view-list-1-hover-offset-x: -60px;
$view-list-1-hover-offset-y: 0px;
$view-list-1-hover-width: 16px;
$view-list-1-hover-height: 16px;
$view-list-1-hover-total-width: 118px;
$view-list-1-hover-total-height: 101px;
$view-list-1-hover-image: 'spritesheet.png';
$arrow-small-name: 'arrow-small';
$arrow-small-x: 34px;
$arrow-small-y: 73px;
$arrow-small-offset-x: -34px;
$arrow-small-offset-y: -73px;
$arrow-small-width: 6px;
$arrow-small-height: 9px;
$arrow-small-total-width: 118px;
$arrow-small-total-height: 101px;
$arrow-small-image: 'spritesheet.png';
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 73px;
$arrow-offset-x: 0px;
$arrow-offset-y: -73px;
$arrow-width: 18px;
$arrow-height: 11px;
$arrow-total-width: 118px;
$arrow-total-height: 101px;
$arrow-image: 'spritesheet.png';
$arrow1-name: 'arrow1';
$arrow1-x: 23px;
$arrow1-y: 73px;
$arrow1-offset-x: -23px;
$arrow1-offset-y: -73px;
$arrow1-width: 6px;
$arrow1-height: 9px;
$arrow1-total-width: 118px;
$arrow1-total-height: 101px;
$arrow1-image: 'spritesheet.png';
$available-status-name: 'available-status';
$available-status-x: 45px;
$available-status-y: 73px;
$available-status-offset-x: -45px;
$available-status-offset-y: -73px;
$available-status-width: 7px;
$available-status-height: 7px;
$available-status-total-width: 118px;
$available-status-total-height: 101px;
$available-status-image: 'spritesheet.png';
$big-fb-hover-name: 'big_fb-hover';
$big-fb-hover-x: 81px;
$big-fb-hover-y: 47px;
$big-fb-hover-offset-x: -81px;
$big-fb-hover-offset-y: -47px;
$big-fb-hover-width: 11px;
$big-fb-hover-height: 21px;
$big-fb-hover-total-width: 118px;
$big-fb-hover-total-height: 101px;
$big-fb-hover-image: 'spritesheet.png';
$big-fb-name: 'big_fb';
$big-fb-x: 81px;
$big-fb-y: 21px;
$big-fb-offset-x: -81px;
$big-fb-offset-y: -21px;
$big-fb-width: 11px;
$big-fb-height: 21px;
$big-fb-total-width: 118px;
$big-fb-total-height: 101px;
$big-fb-image: 'spritesheet.png';
$big-tw-hover-name: 'big_tw-hover';
$big-tw-hover-x: 0px;
$big-tw-hover-y: 0px;
$big-tw-hover-offset-x: 0px;
$big-tw-hover-offset-y: 0px;
$big-tw-hover-width: 25px;
$big-tw-hover-height: 21px;
$big-tw-hover-total-width: 118px;
$big-tw-hover-total-height: 101px;
$big-tw-hover-image: 'spritesheet.png';
$big-tw-name: 'big_tw';
$big-tw-x: 30px;
$big-tw-y: 0px;
$big-tw-offset-x: -30px;
$big-tw-offset-y: 0px;
$big-tw-width: 25px;
$big-tw-height: 21px;
$big-tw-total-width: 118px;
$big-tw-total-height: 101px;
$big-tw-image: 'spritesheet.png';
$big-vk-hover-name: 'big_vk-hover';
$big-vk-hover-x: 21px;
$big-vk-hover-y: 26px;
$big-vk-hover-offset-x: -21px;
$big-vk-hover-offset-y: -26px;
$big-vk-hover-width: 16px;
$big-vk-hover-height: 21px;
$big-vk-hover-total-width: 118px;
$big-vk-hover-total-height: 101px;
$big-vk-hover-image: 'spritesheet.png';
$big-vk-name: 'big_vk';
$big-vk-x: 0px;
$big-vk-y: 26px;
$big-vk-offset-x: 0px;
$big-vk-offset-y: -26px;
$big-vk-width: 16px;
$big-vk-height: 21px;
$big-vk-total-width: 118px;
$big-vk-total-height: 101px;
$big-vk-image: 'spritesheet.png';
$map-pin-name: 'map-pin';
$map-pin-x: 102px;
$map-pin-y: 34px;
$map-pin-offset-x: -102px;
$map-pin-offset-y: -34px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 118px;
$map-pin-total-height: 101px;
$map-pin-image: 'spritesheet.png';
$slider-name: 'slider';
$slider-x: 63px;
$slider-y: 52px;
$slider-offset-x: -63px;
$slider-offset-y: -52px;
$slider-width: 8px;
$slider-height: 14px;
$slider-total-width: 118px;
$slider-total-height: 101px;
$slider-image: 'spritesheet.png';
$small-fb-hover-name: 'small_fb-hover';
$small-fb-hover-x: 11px;
$small-fb-hover-y: 89px;
$small-fb-hover-offset-x: -11px;
$small-fb-hover-offset-y: -89px;
$small-fb-hover-width: 6px;
$small-fb-hover-height: 12px;
$small-fb-hover-total-width: 118px;
$small-fb-hover-total-height: 101px;
$small-fb-hover-image: 'spritesheet.png';
$small-fb-name: 'small_fb';
$small-fb-x: 0px;
$small-fb-y: 89px;
$small-fb-offset-x: 0px;
$small-fb-offset-y: -89px;
$small-fb-width: 6px;
$small-fb-height: 12px;
$small-fb-total-width: 118px;
$small-fb-total-height: 101px;
$small-fb-image: 'spritesheet.png';
$small-tw-hover-name: 'small_tw-hover';
$small-tw-hover-x: 102px;
$small-tw-hover-y: 0px;
$small-tw-hover-offset-x: -102px;
$small-tw-hover-offset-y: 0px;
$small-tw-hover-width: 16px;
$small-tw-hover-height: 12px;
$small-tw-hover-total-width: 118px;
$small-tw-hover-total-height: 101px;
$small-tw-hover-image: 'spritesheet.png';
$small-tw-name: 'small_tw';
$small-tw-x: 102px;
$small-tw-y: 17px;
$small-tw-offset-x: -102px;
$small-tw-offset-y: -17px;
$small-tw-width: 16px;
$small-tw-height: 12px;
$small-tw-total-width: 118px;
$small-tw-total-height: 101px;
$small-tw-image: 'spritesheet.png';
$small-vk-hover-name: 'small_vk-hover';
$small-vk-hover-x: 102px;
$small-vk-hover-y: 55px;
$small-vk-hover-offset-x: -102px;
$small-vk-hover-offset-y: -55px;
$small-vk-hover-width: 10px;
$small-vk-hover-height: 12px;
$small-vk-hover-total-width: 118px;
$small-vk-hover-total-height: 101px;
$small-vk-hover-image: 'spritesheet.png';
$small-vk-name: 'small_vk';
$small-vk-x: 102px;
$small-vk-y: 72px;
$small-vk-offset-x: -102px;
$small-vk-offset-y: -72px;
$small-vk-width: 10px;
$small-vk-height: 12px;
$small-vk-total-width: 118px;
$small-vk-total-height: 101px;
$small-vk-image: 'spritesheet.png';
$telephone-name: 'telephone';
$telephone-x: 42px;
$telephone-y: 26px;
$telephone-offset-x: -42px;
$telephone-offset-y: -26px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 118px;
$telephone-total-height: 101px;
$telephone-image: 'spritesheet.png';
$view-list-1-name: 'view-list-1';
$view-list-1-x: 60px;
$view-list-1-y: 21px;
$view-list-1-offset-x: -60px;
$view-list-1-offset-y: -21px;
$view-list-1-width: 16px;
$view-list-1-height: 16px;
$view-list-1-total-width: 118px;
$view-list-1-total-height: 101px;
$view-list-1-image: 'spritesheet.png';
$view-list-2-hover-name: 'view-list-2-hover';
$view-list-2-hover-x: 81px;
$view-list-2-hover-y: 0px;
$view-list-2-hover-offset-x: -81px;
$view-list-2-hover-offset-y: 0px;
$view-list-2-hover-width: 16px;
$view-list-2-hover-height: 16px;
$view-list-2-hover-total-width: 118px;
$view-list-2-hover-total-height: 101px;
$view-list-2-hover-image: 'spritesheet.png';
$view-list-2-name: 'view-list-2';
$view-list-2-x: 42px;
$view-list-2-y: 52px;
$view-list-2-offset-x: -42px;
$view-list-2-offset-y: -52px;
$view-list-2-width: 16px;
$view-list-2-height: 16px;
$view-list-2-total-width: 118px;
$view-list-2-total-height: 101px;
$view-list-2-image: 'spritesheet.png';
$view-list-3-hover-name: 'view-list-3-hover';
$view-list-3-hover-x: 21px;
$view-list-3-hover-y: 52px;
$view-list-3-hover-offset-x: -21px;
$view-list-3-hover-offset-y: -52px;
$view-list-3-hover-width: 16px;
$view-list-3-hover-height: 16px;
$view-list-3-hover-total-width: 118px;
$view-list-3-hover-total-height: 101px;
$view-list-3-hover-image: 'spritesheet.png';
$view-list-3-name: 'view-list-3';
$view-list-3-x: 0px;
$view-list-3-y: 52px;
$view-list-3-offset-x: 0px;
$view-list-3-offset-y: -52px;
$view-list-3-width: 16px;
$view-list-3-height: 16px;
$view-list-3-total-width: 118px;
$view-list-3-total-height: 101px;
$view-list-3-image: 'spritesheet.png';
$spritesheet-width: 118px;
$spritesheet-height: 101px;
$spritesheet-image: 'spritesheet.png';
$spritesheet-sprites: ($view-list-1-hover, $arrow-small, $arrow, $arrow1, $available-status, $big-fb-hover, $big-fb, $big-tw-hover, $big-tw, $big-vk-hover, $big-vk, $map-pin, $slider, $small-fb-hover, $small-fb, $small-tw-hover, $small-tw, $small-vk-hover, $small-vk, $telephone, $view-list-1, $view-list-2-hover, $view-list-2, $view-list-3-hover, $view-list-3, );
$spritesheet: (118px, 101px, 'spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
