$regular:         'open_sansregular',          Arial, 'sans-serif';
$italic:          'open_sansitalic',           Arial, 'sans-serif';
$semibold:        'open_sanssemibold',         Arial, 'sans-serif';
$semibold_italic: 'open_sanssemibold_italic',  Arial, 'sans-serif';
$bold:            'open_sansbold',             Arial, 'sans-serif';
$bold_italic:     'open_sansbold_italic',      Arial, 'sans-serif';
$extrabold:       'open_sansextrabold',        Arial, 'sans-serif';
$extrabold_italic:'open_sansextrabold_italic', Arial, 'sans-serif';
$light:           'open_sanslight',            Arial, 'sans-serif';
$light_italic:    'open_sanslight_italic',     Arial, 'sans-serif';

$colorLight: #fff;
$colorDark: #333;
$colorOrange: #ff6e35;
$colorLightBlue: #d9e5ea;
$borderColor: #ebedef;

$socialWidthSmall: 26px;
$socialWidthBig: 43px;

$containerWidth: 100%;
$innerWidth: 1100px;
$sideBarWidth: 334px;
$paddingBetweenBlogs: 23px;
$siteBg: #f4f4f4;
$siteColor: #333;
$siteFont: 14px/16px $regular;
$headerBg: #000;
$navHover: #e4e2e2;
$footerHeight: 370px;
$footerBg: '/img/footer-bg.png';
